.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-container {
  width: 300px;
  border: 1px solid rgba(0,0,.125);
  margin: 5px Auto;
  border-radius: 5px;
  overflow: hidden;
}

.event-time {
  width: 100px;
  vertical-align: middle;
}

.create-event-container {
  width: 500px;
  height: 800px;
  border: 1px solid rgba(0,0,.125);
  margin: 5px Auto;
  border-radius: 5px;
  overflow: hidden;
}

header.masthead {
  position: relative;
  background: url("./img/bg-masthead-2.jpg") no-repeat center center;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}