.event-container {
  width: 300px;
  border: 1px solid rgba(0,0,.125);
  margin: 5px Auto;
  border-radius: 5px;
  overflow: hidden;
}

.event-time {
  width: 100px;
  vertical-align: middle;
}

.create-event-container {
  width: 500px;
  height: 800px;
  border: 1px solid rgba(0,0,.125);
  margin: 5px Auto;
  border-radius: 5px;
  overflow: hidden;
}

header.masthead {
  position: relative;
  background: url("./img/bg-masthead-2.jpg") no-repeat center center;
  background-size: cover;
}

hoopsy-logo {
  background: url("./img/hoopsy_logo_1.png") no-repeat center center;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}